* {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  position: sticky;
  top: 0;
}

.logo-navbar {
  width: 160px;
  height: auto;
}

.navbar-brand {
  width: 35%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.navbar-toggler {
  margin-right: 2%;
}

.navbar {
  margin: 0;
  padding: 0;
}

.nav-link {
  padding-left: 2%;
}

/* Footer */

footer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;
}

.links-footer {
  width: 100%;
  padding: 5% 0;
  text-align: center;
}

.link-footer {
  padding: 3%;
}

.icon-footer {
  font-size: 140%;
}

.contact-footer {
  padding: 0 2% 2% 2%;
}

.footer-text {
  color: black;
}

/* Inicio */

.div-index {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  padding: 10%;
  background-color: rgba(0, 1, 31, 0.4);
}

main {
  background-image: url(../imagenes/background.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.text_index {
  color: white;
  padding: 2% 0;
}

.li_index {
  list-style-type: none;
  padding: 2% 0;
}

/* Proyectos */

main {
  padding: 10% 0;
}

.title-proyect {
  color: white;
  padding: 5%;
  background-color: rgba(0, 1, 31, 0.4);
  margin-bottom: 10%;
}

.container-proyect {
  padding: 10%;
  background-color: rgba(0, 1, 31, 0.4);
  margin-bottom: 10%;
}

.container-video {
  padding: 6%;
  background-color: rgba(0, 1, 31, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_proyect {
  width: 100%;
  height: auto;
}

.carousel-w {
  width: 90%;
}

/* Contacto */

.text-con {
  color: white;
  padding-bottom: 1%;
}

.title-con {
  padding: 5%;
  background-color: rgba(0, 1, 31, 0.4);
  margin-bottom: 8%;
}

.section-con {
  display: grid;
  grid-template-rows: auto auto;
}

.article-left-con {
  display: flex;
  padding: 3%;
  flex-wrap: wrap;
  justify-content: center;
}

.left-con-title {
  padding-bottom: 2%;
}

.p-left-con {
  text-align: center;
}

.form-con {
  padding-top: 2%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.input-con {
  margin: 2%;
}

.estilotextarea {
  margin: 4%;
}

.right-con-title {
  padding-bottom: 2%;
}

.article-right-con {
  padding: 5% 5% 3%;
  text-align: center;
}

@media (min-width: 768px) {
  main {
    padding: 0;
  }

  /* Header */

  .navbar-collapse {
    flex-grow: 0;
    padding-right: 3%;
    width: 30%;
    justify-content: end;
  }
  .navbar-nav {
    width: 100%;
    justify-content: space-around;
  }

  /* Footer */

  footer {
    display: grid;
    grid-template-areas:
      "link link"
      "left right"
      "left right"
      "down down";
    grid-template-columns: 1fr 1fr;
  }

  .links-footer {
    width: 100%;
    padding: 4% 0;
    text-align: center;
    grid-area: link;
  }

  .link-footer {
    padding: 3%;
  }

  .icon-footer {
    font-size: 210%;
  }

  .footer-text-left {
    grid-area: left;
    text-align: center;
  }

  .footer-text-right {
    grid-area: right;
    text-align: center;
  }

  .footer-text-bottom {
    padding-top: 2%;
    grid-area: down;
    text-align: center;
  }

  /* Inicio */

  .row {
    padding: 0 10%;
  }

  /* Contacto */

  .left-con-title {
    width: 100%;
    text-align: center;
  }

  .p-left-con {
    width: 100%;
  }

  .right-con-title {
    padding-bottom: 2%;
  }

  .article-right-con {
    padding-bottom: 6%;
  }
}

@media (min-width: 1024px) {
  /* Proyectos */

  .title-proyect {
    margin-bottom: 6%;
    padding: 3% 5%;
  }

  .container-proyect {
    margin-bottom: 6%;
  }

  /* Contacto */

  .title-con {
    margin-bottom: 3%;
    padding: 3% 5%;
  }
}

@media (min-width: 1400px) {
  /* Contacto */

  .container-con {
    display: grid;
    grid-template-areas:
      "title title"
      "left right";
    grid-template-columns: 60% auto;
  }

  .title-con {
    grid-area: title;
    margin-bottom: 3%;
  }

  .article-left-con {
    grid-area: left;
    padding-bottom: 10%;
  }

  .article-right-con {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15% 0 10%;
    padding-bottom: 10%;
  }

  .right-con-title {
    padding-bottom: 4%;
  }
}
