main {
  background: url(../imagenes/fondo.jpg) fixed center no-repeat;
  background-size: cover;
  padding: 0 0 5%;

  .container_index {
    height: 100%;

    .inicio {
      height: 93vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .title-index {
        width: 18ch;
        display: block;
        white-space: nowrap;
        border-right: 3px solid;
        color: map-get($color, shadow-secondary-9);
        font-family: $font1;
        font-weight: 500;
        animation: typing 3s steps(18), blink 0.5s infinite step-end alternate;
        overflow: hidden;

        @keyframes typing {
          from {
            width: 0;
          }
        }

        @keyframes blink {
          50% {
            border-color: transparent;
          }
        }
      }

      .eslogan-index {
        color: map-get($color, shadow-secondary-8);
        font-size: 100%;
        padding: 3% 0;
        font-family: $font3;
        font-weight: 600;
      }
    }

    .div-index-animation {
      padding: 2% 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .img-1 {
        filter: drop-shadow(0 0 10px map-get($color, shadow-secondary-4));
        width: 60%;
        animation: rotate 6s linear infinite;

        @keyframes rotate {
          from {
            transform: rotateY(0deg);
          }
          to {
            transform: rotateY(360deg);
          }
        }
      }

      .img-2 {
        filter: drop-shadow(0 0 10px map-get($color, shadow-secondary-4));
        width: 60%;
        animation: float 4s ease-in-out infinite;

        @keyframes float {
          0% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(-10%);
          }

          100% {
            transform: translateY(0);
          }
        }
      }
    }

    .div-index {
      background-color: map-get($color, primary-color);
      box-shadow: 0 0 10px map-get($color, shadow-secondary-3);
      margin: 15% 0;
      padding: 10% 3%;
      @include transition-1(300ms);

      .text_index {
        margin: 0;
        color: map-get($color, shadow-secondary-7);
        text-align: center;
        font-family: $font2;
        font-size: 110%;
      }

      .title-div {
        color: map-get($color, shadow-secondary-9);
        padding-bottom: 5%;
        font-size: 140%;
        font-family: $font2;
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;

        .li_index {
          padding-bottom: 2%;
        }
      }

      &:hover {
        background-color: map-get($color, shadow-primary-9);
        box-shadow: 0 0 20px map-get($color, shadow-secondary-5);
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    .container_index {
      .inicio {
        height: 85vh;
        .title-index {
          font-size: 250%;
        }

        .eslogan-index {
          font-size: 140%;
        }
      }

      .div-index-animation {
        margin: 0;
        padding: 0;

        .img-1 {
          width: 25%;
        }

        .img-2 {
          width: 25%;
        }
      }

      .div-index {
        font-size: 150%;

        .title-div {
          font-size: 170%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    .container_index {
      .div-index {
        padding: 4% 3%;
        font-size: 120%;

        .title-div {
          font-size: 140%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  main {
    .container_index {
      .inicio {
        height: 80vh;
        .title-index {
          font-size: 240%;
        }

        .eslogan-index {
          font-size: 130%;
          padding: 2% 0;
        }
      }

      .div-index {
        font-size: 140%;
        padding: 3%;

        .title-div {
          font-size: 170%;
          padding-bottom: 3%;
        }
      }
    }
  }
}
